{% load staticfiles %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page_title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block head %}
      {% include "_core/head_css.html" %}
      {% include "_core/head_css_extra.html" %}
      {% include "_core/head_js.html" %}
      {% include "_core/head_js_extra.html" %}
    {% endblock %}

  </head>
  <!--
  Apply one or more of the following classes to get the desired effect
  |---------------------------------------------------------|
  | SKINS         | skin-blue                               |
  |               | skin-black                              |
  |               | skin-purple                             |
  |               | skin-yellow                             |
  |               | skin-red                                |
  |               | skin-green                              |
  |---------------------------------------------------------|
  |LAYOUT OPTIONS | fixed                                   |
  |               | layout-boxed                            |
  |               | layout-top-nav                          |
  |               | sidebar-collapse                        |
  |               | sidebar-mini                            |
  |---------------------------------------------------------|
  -->
  <body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">
            <b>apiaas</b>
          </span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>API</b> as a service</span>
        </a>

        <!-- navigation header bar -->
        {% include "_core/body_navbar_top.html" %}

      </header>
      <!-- Left side column. contains the logo and sidebar -->
      {% include "_core/body_sidebar_menu_left.html" %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{ page_header }}
            <small>{{ page_header_desc }}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Breadcrumb</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          {% block content %}
          <!-- Your Page Content Here -->
          {% endblock %}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      {% include "_core/body_footer.html" %}

      <!-- Control Sidebar -->
      {% include "_core/body_sidebar_control_right.html" %}
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

  </body>
</html>
